
<div class="container">
    <div class="main_paragraph">
        <h2>Register the Shop owner</h2>
        <form action="/registerShopOwner" method="post">
            <div class="errorMsgsRegister">
                <div class="successReg" id="success">
                    <h4> {{messages.success}} </h4>
                </div>   
                <div class="errorReg" id="error">
                    <h4> {{messages.error}} </h4>
                </div> 
            </div>       
            <div class="paragraph" style="margin-top: 2%;">
                <p for="username" class="details">Shop owner name: </p>
                <input type="text" class="name" placeholder="Enter Firstname" name="shop_owner_name" autocomplete="off">
            </div>
            <button class="register" type="submit"> Register </button>
        </form>
    </div>
</div>