
<div class="container">
    <div class="main_paragraph">
        <form action="/suggestionsForArea" method="post">
        the suggestion of this area are as follows
        </form>
    </div>
</div>